build/
tests/build/
.vs/
obj/
*/.vs/
*/obj/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.obj
*.log
*.dll
*.exe
*.exp
*.ilk
*.lib
*.pdb
__pycache__/
*.pyc

*.gguf
*.safetensors
*.onnx
*.pt
*.pth
*.ckpt
models/

ofxICExample/bin/
ofxICExample/config.make
ofxICExample/icon.rc
ofxICExample/*.sln
ofxICExample/*.vcxproj
ofxICExample/*.vcxproj.filters

example-*/bin/
example-*/config.make
example-*/icon.rc
example-*/*.sln
example-*/*.vcxproj
example-*/*.vcxproj.filters
